@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Fredoka", sans-serif;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
